* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

:focus {
 /* TODO */
}

body {
  background-image: linear-gradient(to right, red , yellow);
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  
}

input {
 align-items: center;
 position: relative;
}

.search-container {
  padding: 20px;
  background: linear-gradient(90deg,rgba(249, 184, 184, 0.549),rgba(236, 236, 178, 0.549));
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 0px;
  
}
.search-container input,
.search-container .suggestions {
  color: inherit;
  border: none;
  background: transparent;
  outline: none;
}
.search-container input {
  text-align:left;
}
.search-container .suggestions {
  display: grid;
}

ul {
  list-style-type: none;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-right: 25px;
  align-items: center;

}
ul.has-suggestions {
  width: 100%;
  border-radius: 6px;
  overflow: hidden;
}
ul li {
  display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
ul li:hover {
  align-items: center;
}

input {
  align-items: center;
}
